{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "react-app",
  "rules": {
    "eqeqeq": "off",
    "no-cond-assign": "off",
    "no-script-url": "off",
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-empty-pattern": "off"
  },
  "globals":{
    "__defaultImgPrefix__":true
  }
}